@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

* {
  font-family: Outfit;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  background-color: #FAFAFA;
  color: #1a1a1a;
}

.dark {
  background-color: #1b2537; /* Deep dark blue/black */
  color: #f9fafb;            /* Makes all text white globally */
}

body {
  background-color: inherit;
  color: inherit;
  transition: background-color 0.3s ease, color 0.3s ease;
  min-height: 100vh;
}